<% user = obj %>

<div class="text-center" style="width: 18rem;">
    <div>
        <%= render "profile_image", obj: user %>
    </div>
    <div class="card-body">
        <div class="card-title">
            <%= user.first_name + " " + user.last_name %>
        </div>
        <div class="card-title">
            <strong>Username:</strong>
            <%= user.username %>
        </div>
        <%if current_user and are_friends?(current_user, user) %>
            <div class="card-text">
                <strong>email: </strong>
                <%= user.email %>
            </div>
            <div class="card-text">
                <strong>Date of Birth: </strong>
                <%= user.email %>
            </div>
        <% end %>
        <div>
            <%= link_to "View Profile", profile_path(user.username), class: "btn btn-primary" %>
        </div>
    </div>
</div>