<h1> 
<%= %>
Feed
</h1>
<% @posts.each do | post | %>
    <div style="margin-top: 1rem">
        <strong>Caption: </strong> <%= post.text %> <br />
        <strong>Type: </strong> <%= post.post_type %> <br />
        <% if post.post_type != 'text' %>
            <% if post.post_type == 'video' %>
                <video src=<%post.media %> />
            <% else %>
                <img src=<%= post.media %> />        
            <% end %>
            <br />
        <% end %>
        <strong>Created at: </strong> <%= post.created_at %> <br />
    </div> 
<% end %>

<h1>Suggestions: </h1>
<% @suggestions.each do | user | %>
    <div style="margin-top: 1rem">
        <strong>Name: </strong> <%= user.first_name + " " + user.last_name %> <br />
        <strong>Email: </strong> <%= user.email %> <br />
        <%= link_to "View Profile", profile_path(user) %>
    </div> 
<% end %>