<h1> 
<%= %>
Posts
</h1>
<% @posts.each do | post | %>
    <div style="margin-top: 1rem">
        <strong>Caption: </strong> <%= post.text %> <br />
        <strong>Type: </strong> <%= post.post_type %> <br />
        <% if post.post_type != 'text' %>
            <% if post.post_type == 'video' %>
                <video src=<%post.media %> />
            <% else %>
                <img src=<%= post.media %> />        
            <% end %>
            <br />
        <% end %>
        <strong>Created at: </strong> <%= post.created_at %> <br />
    </div> 
<% end %>