<h1>
    <%= @user.first_name %>
    's Profile
</h1>

<div>
    <%= render "profile_image", obj: @user %>
</div>

<div>
    <strong>First name:</strong>
    <%= @user.first_name %>
</div>

<div>
    <strong>Last name:</strong>
    <%= @user.last_name %>
</div>

<div>
    <strong>Email</strong>
    <%= @user.email %>
</div>

<div>
    <strong>Date of birth</strong>
    <%= @user.dob %>
</div>

<%if current_user && current_user != @user %>
<div>
    <% if are_friends?(current_user, @user) %>
        Friends
    <% elsif already_sent_invite?(current_user, @user) %>
        Pending invite
    <% else %>
        <%= button_to "Add friend", add_friend_path, params: {friend: @user} %>
    <% end %>
</div>
<% end %>

<%= link_to "View Posts", user_posts_path(@user) %>

<% if current_user && current_user == @user %>
    <%= link_to "Edit Profile", edit_user_registration_path %>
<% end %>
