<h1>
    <%= @user.first_name %>
    's Profile
</h1>

<div>
    <strong>First name:</strong>
    <%= @user.first_name %>
</div>

<div>
    <strong>Last name:</strong>
    <%= @user.last_name %>
</div>

<div>
    <strong>Email</strong>
    <%= @user.email %>
</div>

<div>
    <strong>Date of birth</strong>
    <%= @user.dob %>
</div>
