<h1>
    <%= @user.first_name %>
    's Profile
</h1>

<% avatar_url = @user.avatar.present? ? 
                @user.avatar
                :
                "https://ui-avatars.com/api/?name=#{@auser.first_name}+#{@user.last_name}"
%>
<img src=<%= avatar_url %> />

<div>
    <strong>First name:</strong>
    <%= @user.first_name %>
</div>

<div>
    <strong>Last name:</strong>
    <%= @user.last_name %>
</div>

<div>
    <strong>Email</strong>
    <%= @user.email %>
</div>

<div>
    <strong>Date of birth</strong>
    <%= @user.dob %>
</div>

<%= link_to "Edit Profile", edit_user_registration_path %>
